.spacing {
    margin-top: 10px;
}

table.dataTable td {
    border: 0.1px solid grey;
}

.table-overflow {
    overflow: auto;
}

.ok-btn {
    width: 110px;
}

.ok-btn2 {
    width: 90px;
}

.pToastToggle{
    margin-top: 450px;
    margin-right: 20px;
}